*{
	margin: 0;
	padding: 0;
	font-family: Arial, Verdana;
	width: 100%;
}
body {
	background-color: #ccc;
	display: flex;
	justify-content: center;
	align-items: center;
}
body section {
	background-color: #fff;
	width: 90%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.calc{
	display: flex;
	align-items: center;
	justify-content: flex-end;
	text-align: center;
	flex-direction: column;
	width: 320px;
	height: 575px;
	background-color: #ff0000;
}
.calc h1 {
	font-size: 25px;
	color: #fff;
	margin-bottom: 30px;
}
.valores {
	width: 95%;
	margin-bottom: 25px;
}
.valores input {
	height: 50px;
	margin-bottom: 5px;
}
.operadores {
	display: flex;
	flex-direction: column;
	width: 95%;
	height: 300px;
	margin-top: 10px;
	margin-bottom: 20px;
}
.operadores div{
	display: flex;
	flex: 1;
	align-items: center;
	justify-content: center;
	text-align: center;
	margin-bottom: 5px;
	background-color: #00bb00;
	color: #fff;
	font-weight: bold;

}




